/ {
    combos {
        compatible = "zmk,combos";

        game_mode { // space + enter -> uni layer
            timeout-ms = <50>;
            key-positions = <53 56>;
            bindings = <&to UNI>;
            require-prior-idle-ms = <IDLE_MS>;
            slow-release;
        };

        sys_mode { // SYM + NUM -> sys layer
            timeout-ms = <50>;
            key-positions = <54 55>;
            bindings = <&to SYS>;
            require-prior-idle-ms = <IDLE_MS>;
            slow-release;
        };

        cesc { // w + e -> esc
            timeout-ms = <50>;
            key-positions = <14 15>;
            bindings = <&kp ESC>;
            require-prior-idle-ms = <IDLE_MS>;
            slow-release;
        };

        cdel { // i + o -> del
            timeout-ms = <50>;
            key-positions = <20 21>;
            bindings = <&kp DEL>;
            require-prior-idle-ms = <IDLE_MS>;
            slow-release;
        };
    };
};