#define HRM(NAME, TERM, POS) \
        NAME: NAME { \
            compatible = "zmk,behavior-hold-tap"; \
            #binding-cells = <2>; \
            flavor = "balanced"; \
            tapping-term-ms = <TERM>; \
            quick-tap-ms = <175>; /* repeat on tap-into-hold */ \
            require-prior-idle-ms = <125>; \
            bindings = <&kp>, <&kp>; \
            hold-trigger-key-positions = <POS>; \
            hold-trigger-on-release; /* delay positional check until key-release */ \
        };

/ {
    behaviors {
        // left-hand HRMs
        HRM(hmlf, 200, KEYS_R THUMBS) // slower for pinky and ring fingers
        HRM(hmls, 250, KEYS_R THUMBS) // faster for middle and index fingers

        // right-hand HRMs        
        HRM(hmrf, 200, KEYS_L THUMBS) // slower for pinky and ring fingers
        HRM(hmrs, 250, KEYS_L THUMBS) // faster for middle and index fingers
    };
};