#define HRM(NAME, POS) \
        NAME: NAME { \
            compatible = "zmk,behavior-hold-tap"; \
            #binding-cells = <2>; \
            flavor = "balanced"; \
            tapping-term-ms = <200>; \
            quick-tap-ms = <175>; /* repeat on tap-into-hold */ \
            require-prior-idle-ms = <125>; \
            bindings = <&kp>, <&kp>; \
            hold-trigger-key-positions = <POS>; \
            hold-trigger-on-release; /* delay positional check until key-release */ \
        };

/ {
    behaviors {
        HRM(hml, KEYS_R THUMBS) // left-hand HRMs
        HRM(hmr, KEYS_L THUMBS) // right-hand HRMs
    };
};