/ {
    keymap {
        compatible = "zmk,keymap";
        
        hub {
            display-name = "hub";
            bindings = <
&none          &none          &none         &none         &none           &none                                         &none           &none           &none         &none           &none             &none
&none          &none          &none         &none         &none           &none                                         &none           &none           &none         &none           &none             &none
&none          &to BASE       &to NUM       &to NAV       &to FN          &none                                         &none           &none           &none         &none           &none             &none
&none          &to SYS        &to UNI       &to MSE       &none           &none            &none          &none         &none           &none           &none         &none           &none             &none
                              &none         &none         &none           &none            &none          &none         &none           &none           &none         &none
            >;

            sensor-bindings = <&inc_dec_kp LA(TAB) LS(LA(TAB)) &inc_dec_kp LC(Z) LC(Y)>;
        };
    };
};