/ {
    keymap {
        compatible = "zmk,keymap";
        
        hub {
            display-name = "hub";
            bindings = <
&none          &none          &none         &none         &none           &none                                         &none           &none           &none         &none           &none             &none
&none          &none          &none         &none         &none           &none                                         &none           &none           &none         &none           &none             &none
&none          &to BASE       &to NUM       &to NAV       &to FN          &none                                         &none           &none           &none         &none           &none             &none
&none          &to SYS        &to UNI       &none         &none           &none            &none          &none         &none           &none           &none         &none           &none             &none
                              &none         &none         &none           &none            &none          &none         &none           &none           &none         &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};