/ {
    keymap {
        compatible = "zmk,keymap";
        
        nav {
            display-name = "nav";
            bindings = <
&none          &none          &none           &none          &none           &none                                      &none           &none           &none         &none           &none             &none
&trans         &kp PG_DN      &kp HOME        &kp UP         &kp END         &kp PG_UP                                  &none           &kp C_PREV      &kp C_PP      &kp C_NEXT      &none             &none
&trans         &kp DEL        &kp LEFT        &kp DOWN       &kp RIGHT       &kp INS                                    &none           &kp RSHFT       &kp RCTRL     &kp RALT        &kp RGUI          &none
&trans         &kp PSCRN      &kp PAUSE_BREAK &key_repeat    &caps_word      &kp LC(Y)     &none          &none         &kp LEFT        &kp DOWN        &kp UP        &kp RIGHT       &none             &none
                              &none           &none          &none           &kp SPACE     &lt FN TAB     &kp RET       &kp BSPC        &none           &none         &none  
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};