#include "../../include/layers.h"

nav {
    display-name = "nav";
    bindings = <
&none          &none          &none           &none          &none           &none                                      &none           &none           &none         &none           &none             &none
&trans         &kp PG_DN      &kp HOME        &kp UP         &kp END         &kp PG_UP                                  &none           &none           &none         &none           &none             &none
&trans         &kp DEL        &kp LEFT        &kp DOWN       &kp RIGHT       &kp INS                                    &none           &kp RSHFT       &kp RCTRL     &kp RALT        &kp RGUI          &none
&trans         &kp PSCRN      &kp PAUSE_BREAK &key_repeat    &caps_word      &kp LC(Y)     &none          &none         &to BASE        &to NUM         &to NAV       &to FN          &to HUB           &none
                              &none           &none          &kp ESC         &kp SPACE     &lt SYM TAB    &kp RET       &rem            &kp DEL         &none         &none  
    >;

    sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
};