/ {
    keymap {
        compatible = "zmk,keymap";
        
        num {
            display-name = "num";
            bindings = <
&trans         &trans          &trans          &trans         &trans          &trans                                       &trans          &trans          &trans        &trans          &trans            &trans
&trans         &trans          &trans          &trans         &trans          &kp EQUAL                                    &kp KP_PLUS     &kp KP_ASTERISK &trans        &trans          &trans            &trans
&trans         &hmls LGUI N1   &hmls LALT N2   &hmlf LCTRL N3 &hmlf LSHFT N4  &kp N5                                       &kp N6          &hmrf RSHFT N7  &hmrf RCTRL N8 &hmrs RALT N9  &hmrs RGUI N0     &trans
&trans         &trans          &trans          &trans         &trans          &kp KP_DOT         &none        &none        &kp KP_MINUS    &kp KP_SLASH    &trans        &trans          &trans            &trans
                               &trans          &trans         &trans          &trans             &trans       &trans       &trans          &trans          &trans        &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(Z) LC(Y) &rot_scrl>;
        };
    };
};