/ {
    keymap {
        compatible = "zmk,keymap";
        
        num {
            display-name = "num";
            bindings = <
&none          &none           &none           &none         &none           &none                                      &none           &none           &none         &none           &none             &none
&trans         &kp FSLH        &kp N7          &kp N8        &kp N9          &kp N0                                     &none           &none           &none         &none           &none             &none
&trans         &kp KP_ASTERISK &kp N4          &kp N5        &kp N6          &kp MINUS                                  &none           &kp RSHFT       &kp RCTRL     &kp RALT        &kp RGUI          &none
&trans         &kp DOT         &kp N1          &kp 2         &kp N3          &kp EQUAL       &none        &none         &none           &none           &none         &none           &none             &none
                               &none           &none         &none           &kp SPACE       &lt FN TAB   &kp RET       &kp BSPC        &none           &none         &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};