/ {
    keymap {
        compatible = "zmk,keymap";
        
        sys {
            display-name = "sys";
            bindings = <
&none          &none          &none         &none         &none           &none                                         &none           &none           &none         &none           &none             &none
&none          &bt BT_CLR     &none         &none         &none           &none                                         &rgb_ug RGB_SAD &rgb_ug RGB_SAI &none         &none           &none             &none
&none          &bt BT_SEL 0   &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3    &bt BT_SEL 4                                  &rgb_ug RGB_HUD &rgb_ug RGB_HUI &none         &rgb_ug RGB_EFF &rgb_ug RGB_TOG   &none
&none          &none          &none         &none         &none           &to HUB          &none          &none         &rgb_ug RGB_BRD &rgb_ug RGB_BRI &none         &none           &none             &none 
                              &none         &none         &none           &none            &none          &none         &none           &none           &none         &none
            >;

            sensor-bindings = <&inc_dec_kp LC(Y) LC(Z) &inc_dec_kp LC(TAB) LC(LS(TAB))>;
        };
    };
};