/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>

&led_strip {
    chain-length = <35>;
};

&left_encoder {
    resolution = <2>;
};

#define BASE 0
#define LOWER 1
#define RAISE 2
#define GAME1 3
#define GAME2 4
#define CFG 5

// timings
#define TAP_TIME_MS 200   
#define QUICK_TAP_MS 175                              
#define IDLE_MS 150


// left-hand keys
#define KEYS_L 0  1  2  3  4  5  \
               12 13 14 15 16 17 \
               24 25 26 27 28 29 \ 
               36 37 38 39 40 41

// right-hand keys
#define KEYS_R 6  7  8  9  10 11 \
               18 19 20 21 22 23 \
               30 31 32 33 34 35 \ 
               44 45 46 47 48 49 // indexes 42 and 43 missing because they are reserved for encoders

// thumb keys
#define THUMBS 50 51 52 53 54 55 56 57 58 59

/ {
    behaviors {
        /* left-hand HRMs */
        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <TAP_TIME_MS>;
            quick-tap-ms = <QUICK_TAP_MS>; // repeat on tap-into-hold
            require-prior-idle-ms = <IDLE_MS>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_R THUMBS>;
            hold-trigger-on-release; // delay positional check until key-release
        };

        /* right-hand HRMs */
        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <TAP_TIME_MS>;
            quick-tap-ms = <QUICK_TAP_MS>; // repeat on tap-into-hold
            require-prior-idle-ms = <IDLE_MS>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_L THUMBS>;
            hold-trigger-on-release; // delay positional check until key-release
        };

        /* mod morph */
        
        fsave: fn_save { // tap: F7 | shift + tap: save
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp F7>, <&kp LC(S)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        
        fundo: fn_undo { // tap: F11 | shift + tap: undo
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp F11>, <&kp LC(Z)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };       
        
        fcut: fn_cut { // tap: F12 | shift + tap: cut
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp F12>, <&kp LC(X)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };       
        
        fpaste: fn_paste { // tap: F23 | shift + tap: paste
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp F23>, <&kp LC(V)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        
        fredo: fn_redo { // tap: F24 | shift + tap: redo
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp F24>, <&kp LC(Y)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    /* combos */

    combos {
        compatible = "zmk,combos";
        game_mode { // lower + raise: game layer
            timeout-ms = <50>;
            key-positions = <53 56>;
            bindings = <&to GAME1>;
            require-prior-idle-ms = <IDLE_MS>;
            slow-release;
        };

        cfg_mode { // space + enter -> cfg layer
            timeout-ms = <50>;
            key-positions = <54 55>;
            bindings = <&to CFG>;
            require-prior-idle-ms = <IDLE_MS>;
            slow-release;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "main";
            bindings = <
//╭──────────────┬──────────────┬─────────────┬─────────────┬───────────────┬──────────╮                             ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────────┬───────────╮
    &kp ESC        &kp N1         &kp N2        &kp N3        &kp N4         &kp N5                                    &kp N6       &kp N7         &kp N8        &kp N9        &kp N0            &none
//├──────────────┼──────────────┼─────────────┼─────────────┼───────────────┼──────────┤                             ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────────┼───────────┤
    &gresc         &kp Q          &kp W         &kp E         &kp R          &kp T                                     &kp Y         &kp U          &kp I         &kp O         &kp P             &kp LBKT
//├──────────────┼──────────────┼─────────────┼─────────────┼───────────────┼──────────┤                             ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────────┼───────────┤
    &kp TAB        &hml LSHFT A  &hml LCTRL S  &hml LGUI D   &hml LALT F     &kp G                                     &kp H        &hmr RALT J    &hmr RGUI K   &hmr RCTRL L  &hmr RSHFT SEMI   &kp SQT
//├──────────────┼──────────────┼─────────────┼─────────────┼───────────────┼──────────┤ ╭───────────╮  ╭──────────╮ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────────┼───────────┤
    &sk LSHFT      &kp Z          &kp X         &kp C         &kp V          &kp B        &kp C_MUTE     &kp F24       &kp N        &kp M          &kp COMMA     &kp DOT       &kp FSLH          &sk RSHFT 
//╰──────────────┴──────────────┼─────────────┼─────────────┼───────────────┼──────────┤ ├───────────┤  ├──────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────────┴───────────╯
                                  &none         &none         &kp DEL        &kp SPACE    &mo LOWER      &mo RAISE     &kp RET      &kp BSPC       &none         &none  
//                              ╰─────────────┴─────────────┴───────────────┴──────────╯ ╰───────────╯  ╰──────────╯ ╰─────────────┴─────────────┴─────────────┴─────────────╯
            >;

            sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp RIGHT LEFT >;
        };

        lower_layer {
            display-name = "lower";
            bindings = <
//╭──────────────┬──────────────┬─────────────┬─────────────┬─────────────┬──────────╮                             ╭─────────────┬─────────────┬─────────────┬──────────────────┬───────────────────┬───────────────╮
    &none          &none          &none         &none         &none         &none                                    &none         &none         &none         &none             &none                &none
//├──────────────┼──────────────┼─────────────┼─────────────┼─────────────┼──────────┤                             ├─────────────┼─────────────┼─────────────┼──────────────────┼───────────────────┼───────────────┤
    &trans         &kp F1         &kp F2        &kp F3        &kp F4        &kp F5                                   &kp N7        &kp N8        &kp N9        &kp MINUS         &kp EQUAL            &kp RBKT
//├──────────────┼──────────────┼─────────────┼─────────────┼─────────────┼──────────┤                             ├─────────────┼─────────────┼─────────────┼──────────────────┼───────────────────┼───────────────┤
    &tans          &hml LSHFT F6  &fsave        &hml LGUI F8  &hml LALT F9  &kp F10                                  &kp N4        &hmr RALT N5  &hmr RGUI N6 &hmr RCTRL KP_PLUS &hmr RSHFT KP_SLASH &kp KP_ASTERISK
//├──────────────┼──────────────┼─────────────┼─────────────┼─────────────┼──────────┤ ╭───────────╮  ╭──────────╮ ├─────────────┼─────────────┼─────────────┼──────────────────┼───────────────────┼───────────────┤
    &kp RET        &fundo         &fcut         &kp LC(C)     &fpaste       &fredo       &none          &trans       &kp N1        &kp N2        &kp N3         &kp N0             &kp BSLH           &kp KP_DOT
//╰──────────────┴──────────────┼─────────────┼─────────────┼─────────────┼──────────┤ ├───────────┤  ├──────────┤ ├─────────────┼─────────────┼─────────────┼──────────────────┼───────────────────┴───────────────╯
                                  &trans        &trans        &trans        &trans       &mo BASE       &trans       &trans        &trans        &trans         &trans
//                              ╰─────────────┴─────────────┴─────────────┴──────────╯ ╰───────────╯  ╰──────────╯ ╰─────────────┴─────────────┴─────────────┴──────────────────╯
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        raise_layer {
            display-name = "raise";
            bindings = <
//╭──────────────┬──────────────┬───────────────┬──────────────┬───────────────┬──────────╮                             ╭───────────────┬───────────────┬──────────────────┬───────────────────┬───────────────────┬───────────────╮
    &none          &none          &none           &none          &none           &none                                   &none           &none           &none              &none               &none               &none
//├──────────────┼──────────────┼───────────────┼──────────────┼───────────────┼──────────┤                             ├───────────────┼───────────────┼──────────────────┼───────────────────┼───────────────────┼───────────────┤
    &kp INS         &kp DEL       &none           &kp UP         &none           &kp GRAVE                               &none           &none           &none              &none               &none               &none
//├──────────────┼──────────────┼───────────────┼──────────────┼───────────────┼──────────┤                             ├───────────────┼───────────────┼──────────────────┼───────────────────┼───────────────────┼───────────────┤
    &kp HOME        &kp END       &kp LEFT        &kp DOWN       &kp RIGHT       &kp PSCRN                               &none           &kp RALT        &kp RGUI           &kp RCTRL           &kp RSHFT           &none
//├──────────────┼──────────────┼──────────────┼──────────────┼───────────────┼───────────┤ ╭───────────╮  ╭──────────╮ ├───────────────┼───────────────┼──────────────────┼───────────────────┼───────────────────┼───────────────┤
    &kp PG_UP       &kp PG_DN     &none           &none          &kp F23         &kp F24     &none          &trans       &none           &none           &none              &none               &none               &none  
//╰──────────────┴──────────────┼───────────────┼──────────────┼───────────────┼──────────┤ ├───────────┤  ├──────────┤ ├───────────────┼───────────────┼──────────────────┼───────────────────┼───────────────────┴───────────────╯
                                  &trans          &trans         &trans          &trans      &trans         &trans       &trans          &trans          &trans             &trans
//                              ╰───────────────┴──────────────┴───────────────┴──────────╯ ╰───────────╯  ╰──────────╯ ╰───────────────┴───────────────┴──────────────────┴───────────────────╯
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        game_main_layer {
            display-name = "FIGHT";
            bindings = <
//╭──────────────┬──────────────┬───────────────┬──────────────┬───────────────┬──────────╮                             ╭───────────────┬───────────────┬──────────────────┬───────────────────┬───────────────────┬───────────────╮
    &none          &none          &none           &none          &none           &none                                   &none           &none           &none              &none               &none               &none
//├──────────────┼──────────────┼───────────────┼──────────────┼───────────────┼──────────┤                             ├───────────────┼───────────────┼──────────────────┼───────────────────┼───────────────────┼───────────────┤
    &kp N1         &kp Q          &kp W           &kp E          &kp R           &kp T                                   &none           &kp UP          &none              &none               &none              &none
//├──────────────┼──────────────┼───────────────┼──────────────┼───────────────┼──────────┤                             ├───────────────┼───────────────┼──────────────────┼───────────────────┼───────────────────┼───────────────┤
    &kp LSHFT      &kp A          &kp S           &kp D          &kp F           &kp G                                   &kp LEFT        &kp DOWN        &kp RIGHT          &none               &none               &kp F23
//├──────────────┼──────────────┼───────────────┼──────────────┼───────────────┼──────────┤ ╭───────────╮  ╭──────────╮ ├───────────────┼───────────────┼──────────────────┼───────────────────┼───────────────────┼───────────────┤
    &kp LALT       &kp Z          &kp X           &kp C          &kp V           &kp N2       &none          &trans      &none           &none           &none              &none               &none              &kp F24  
//╰──────────────┴──────────────┼───────────────┼──────────────┼───────────────┼──────────┤ ├───────────┤  ├──────────┤ ├───────────────┼───────────────┼──────────────────┼───────────────────┼───────────────────┴───────────────╯
                                  &trans          &trans         &kp LCTRL       &kp SPACE    &mo GAME2      &to BASE    &trans          &trans          &trans             &trans
//                              ╰───────────────┴──────────────┴───────────────┴──────────╯ ╰───────────╯  ╰──────────╯ ╰───────────────┴───────────────┴──────────────────┴───────────────────╯
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        game_sub_layer {
            display-name = "PREPARE";
            bindings = <
//╭──────────────┬──────────────┬───────────────┬──────────────┬───────────────┬──────────╮                             ╭───────────────┬───────────────┬──────────────────┬───────────────────┬───────────────────┬───────────────╮
    &none          &none          &none           &none          &none           &none                                   &none           &none           &none              &none               &none               &none
//├──────────────┼──────────────┼───────────────┼──────────────┼───────────────┼──────────┤                             ├───────────────┼───────────────┼──────────────────┼───────────────────┼───────────────────┼───────────────┤
    &kp ESC        &kp Y          &trans          &kp U          &kp I           &kp O                                    &none           &trans         &none              &none               &none               &none
//├──────────────┼──────────────┼───────────────┼──────────────┼───────────────┼──────────┤                             ├───────────────┼───────────────┼──────────────────┼───────────────────┼───────────────────┼───────────────┤
    &kp TAB        &trans         &trans          &trans          &kp H           &kp J                                   &trans          &trans         &trans             &none               &none               &trans
//├──────────────┼──────────────┼───────────────┼──────────────┼───────────────┼──────────┤ ╭───────────╮  ╭──────────╮ ├───────────────┼───────────────┼──────────────────┼───────────────────┼───────────────────┼───────────────┤
    &trans         &kp N          &kp M           &kp COMMA      &kp DOT         &kp B         &none          &trans      &none           &none          &none              &none               &none               &trans  
//╰──────────────┴──────────────┼───────────────┼──────────────┼───────────────┼──────────┤ ├───────────┤  ├──────────┤ ├───────────────┼───────────────┼──────────────────┼───────────────────┼───────────────────┴───────────────╯
                                 &trans          &trans          &kp LCTRL       &kp SPACE    &trans         &to BASE      &trans          &trans        &trans             &trans
//                              ╰───────────────┴──────────────┴───────────────┴──────────╯ ╰───────────╯  ╰──────────╯ ╰───────────────┴───────────────┴──────────────────┴───────────────────╯
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        keyboard_configuration_layer {
            display-name = "cfg";
            bindings = <
//╭──────────────┬──────────────┬───────────────┬──────────────┬───────────────┬────────────╮                             ╭───────────────┬───────────────┬──────────────────┬───────────────────┬───────────────────┬───────────────╮
    &none          &none          &none           &none          &none           &none                                     &none           &none           &none              &none               &none               &none
//├──────────────┼──────────────┼───────────────┼──────────────┼───────────────┼────────────┤                             ├───────────────┼───────────────┼──────────────────┼───────────────────┼───────────────────┼───────────────┤
    &none         &bt BT_CLR       &none           &kp UP         &none           &none                                    &rgb_ug RGB_SAD &rgb_ug RGB_SAI   &none              &none               &none               &none
//├──────────────┼──────────────┼───────────────┼──────────────┼───────────────┼────────────┤                             ├───────────────┼───────────────┼──────────────────┼───────────────────┼───────────────────┼───────────────┤
    &none         &bt BT_SEL 0   &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3   &bt BT_SEL 4                               &rgb_ug RGB_HUD &rgb_ug RGB_HUI  &none              &rgb_ug RGB_EFF     &rgb_ug RGB_TOG      &none
//├──────────────┼──────────────┼───────────────┼──────────────┼───────────────┼────────────┤ ╭───────────╮  ╭──────────╮ ├───────────────┼───────────────┼──────────────────┼───────────────────┼───────────────────┼───────────────┤
    &none         &none          &none           &none          &none           &none          &none          &none        &rgb_ug RGB_BRD &rgb_ug RGB_BRI &none               &none               &none                &none  
//╰──────────────┴──────────────┼───────────────┼──────────────┼───────────────┼────────────┤ ├───────────┤  ├──────────┤ ├───────────────┼───────────────┼──────────────────┼───────────────────┼───────────────────┴───────────────╯
                                 &none           &none          &none           &none          &to BASE       &none       &none          &none          &none             &none
//                              ╰───────────────┴──────────────┴───────────────┴────────────╯ ╰───────────╯  ╰──────────╯ ╰───────────────┴───────────────┴──────────────────┴───────────────────╯
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
