/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>

&led_strip {
    chain-length = <35>;
};

&left_encoder {
    resolution = <2>;
};

#define BASE 0
#define LOWER 1
#define RAISE 2
#define GAME1 3
#define GAME2 4

// timings
#define TAP_TIME_MS 250   
#define QUICK_TAP_MS 175                              
#define IDLE_MS 150

/ {
    behaviors {   
        /* home row mod */    
        hm: hm {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <TAP_TIME_MS>;
            quick-tap-ms = <QUICK_TAP_MS>;                // repeat on tap-into-hold
            require-prior-idle-ms = <IDLE_MS>;
            bindings = <&kp>, <&kp>;
            hold-trigger-on-release;             // delay positional check until key-release
        };
    };

    /* combos */

    combos {
        compatible = "zmk,combos";
        game_mode {
            timeout-ms = <50>;
            key-positions = <54 55>;
            bindings = <&to GAME1>;
            require-prior-idle-ms = <IDLE_MS>;
            slow-release;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "main";
            bindings = <
//╭──────────────┬──────────────┬─────────────┬─────────────┬───────────────┬──────────╮                             ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────────┬───────────╮
    &kp ESC        &kp N1         &kp N2        &kp N3        &kp N4         &kp N5                                    &kp N6       &kp N7         &kp N8        &kp N9        &kp N0            &none
//├──────────────┼──────────────┼─────────────┼─────────────┼───────────────┼──────────┤                             ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────────┼───────────┤
    &kp ESC        &kp Q          &kp W         &kp E         &kp R          &kp T                                     &kp Y         &kp U          &kp I         &kp O         &kp P             &kp LBKT
//├──────────────┼──────────────┼─────────────┼─────────────┼───────────────┼──────────┤                             ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────────┼───────────┤
    &kp TAB        &hm  LSHFT A  &hm  LCTRL S  &hm  LGUI D   &hm  LALT F     &kp G                                     &kp H        &hm  RALT J    &hm  RGUI K   &hm  RCTRL L  &hm  RSHFT SEMI   &kp SQT
//├──────────────┼──────────────┼─────────────┼─────────────┼───────────────┼──────────┤ ╭───────────╮  ╭──────────╮ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────────┼───────────┤
    &sk LSHFT      &kp Z          &kp X         &kp C         &kp V          &kp B        &kp C_MUTE     &kp F24       &kp N        &kp M          &kp COMMA     &kp DOT       &kp FSLH          &sk RSHFT 
//╰──────────────┴──────────────┼─────────────┼─────────────┼───────────────┼──────────┤ ├───────────┤  ├──────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────────┴───────────╯
                                  &none         &none         &kp DEL        &kp SPACE    &mo LOWER      &mo RAISE     &kp RET      &kp BSPC       &none         &none  
//                              ╰─────────────┴─────────────┴───────────────┴──────────╯ ╰───────────╯  ╰──────────╯ ╰─────────────┴─────────────┴─────────────┴─────────────╯
            >;

            sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp RIGHT LEFT >;
        };

        lower_layer {
            display-name = "num";
            bindings = <
//╭──────────────┬──────────────┬─────────────┬─────────────┬─────────────┬──────────╮                             ╭─────────────┬─────────────┬─────────────┬──────────────────┬───────────────────┬───────────────╮
    &none          &none          &none         &none         &none         &none                                    &none         &none         &none         &none             &none                &none
//├──────────────┼──────────────┼─────────────┼─────────────┼─────────────┼──────────┤                             ├─────────────┼─────────────┼─────────────┼──────────────────┼───────────────────┼───────────────┤
    &none          &kp F1         &kp F2        &kp F3        &kp F4        &kp F5                                   &kp N7        &kp N8        &kp N9        &kp MINUS         &kp EQUAL            &kp RBKT
//├──────────────┼──────────────┼─────────────┼─────────────┼─────────────┼──────────┤                             ├─────────────┼─────────────┼─────────────┼──────────────────┼───────────────────┼───────────────┤
    &kp GRAVE      &hm  LSHFT F6 &hm  LCTRL F7  &hm  LGUI F8  &hm  LALT F9  &kp F10                                  &kp N4        &hm  RALT N5  &hm  RGUI N6 &hm  RCTRL KP_PLUS &hm  RSHFT KP_SLASH &kp KP_ASTERISK
//├──────────────┼──────────────┼─────────────┼─────────────┼─────────────┼──────────┤ ╭───────────╮  ╭──────────╮ ├─────────────┼─────────────┼─────────────┼──────────────────┼───────────────────┼───────────────┤
    &kp RET        &kp F11        &kp F12       &kp LC(S)     &kp F23       &kp F24      &none          &trans       &kp N1        &kp N2        &kp N3         &kp N0             &kp BSLH           &kp KP_DOT
//╰──────────────┴──────────────┼─────────────┼─────────────┼─────────────┼──────────┤ ├───────────┤  ├──────────┤ ├─────────────┼─────────────┼─────────────┼──────────────────┼───────────────────┴───────────────╯
                                  &trans        &trans        &trans        &trans       &mo BASE         &trans       &trans        &trans        &trans         &trans
//                              ╰─────────────┴─────────────┴─────────────┴──────────╯ ╰───────────╯  ╰──────────╯ ╰─────────────┴─────────────┴─────────────┴──────────────────╯
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        raise_layer {
            display-name = "cfg";
            bindings = <
//╭──────────────┬──────────────┬───────────────┬──────────────┬───────────────┬──────────╮                             ╭───────────────┬───────────────┬──────────────────┬───────────────────┬───────────────────┬───────────────╮
    &none          &none          &none           &none          &none           &none                                   &none           &none           &none              &none               &none               &none
//├──────────────┼──────────────┼───────────────┼──────────────┼───────────────┼──────────┤                             ├───────────────┼───────────────┼──────────────────┼───────────────────┼───────────────────┼───────────────┤
    &kp INS         &kp DEL       &kp GRAVE       &kp UP         &none           &kp PSCRN                               &bt BT_CLR      &bt BT_SEL 0    &bt BT_SEL 1       &bt BT_SEL 2        &bt BT_SEL 3        &bt BT_SEL 4
//├──────────────┼──────────────┼───────────────┼──────────────┼───────────────┼──────────┤                             ├───────────────┼───────────────┼──────────────────┼───────────────────┼───────────────────┼───────────────┤
    &kp HOME        &kp END       &kp LEFT        &kp DOWN       &kp RIGHT       &none                                   &rgb_ug RGB_EFF &kp RALT        &kp RGUI           &kp RCTRL           &kp RSHFT           &rgb_ug RGB_TOG
//├──────────────┼──────────────┼──────────────┼──────────────┼───────────────┼───────────┤ ╭───────────╮  ╭──────────╮ ├───────────────┼───────────────┼──────────────────┼───────────────────┼───────────────────┼───────────────┤
    &kp PG_UP       &kp PG_DN     &none           &none          &kp F23         &kp F24     &none          &trans       &rgb_ug RGB_SAD &rgb_ug RGB_SAI &rgb_ug RGB_HUD    &rgb_ug RGB_HUI     &rgb_ug RGB_BRD     &rgb_ug RGB_BRI  
//╰──────────────┴──────────────┼───────────────┼──────────────┼───────────────┼──────────┤ ├───────────┤  ├──────────┤ ├───────────────┼───────────────┼──────────────────┼───────────────────┼───────────────────┴───────────────╯
                                  &trans          &trans         &trans          &trans      &trans         &trans       &trans          &trans          &trans             &trans
//                              ╰───────────────┴──────────────┴───────────────┴──────────╯ ╰───────────╯  ╰──────────╯ ╰───────────────┴───────────────┴──────────────────┴───────────────────╯
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        game_main_layer {
            display-name = "FIGHT";
            bindings = <
//╭──────────────┬──────────────┬───────────────┬──────────────┬───────────────┬──────────╮                             ╭───────────────┬───────────────┬──────────────────┬───────────────────┬───────────────────┬───────────────╮
    &none          &none          &none           &none          &none           &none                                   &none           &none           &none              &none               &none               &none
//├──────────────┼──────────────┼───────────────┼──────────────┼───────────────┼──────────┤                             ├───────────────┼───────────────┼──────────────────┼───────────────────┼───────────────────┼───────────────┤
    &kp N1         &kp Q          &kp W           &kp E          &kp R           &kp T                                    &none           &none           &none              &none               &none              &none
//├──────────────┼──────────────┼───────────────┼──────────────┼───────────────┼──────────┤                             ├───────────────┼───────────────┼──────────────────┼───────────────────┼───────────────────┼───────────────┤
    &kp LSHFT        &kp A          &kp S           &kp D          &kp F         &kp G                                   &none           &none           &none              &none               &none               &kp F23
//├──────────────┼──────────────┼───────────────┼──────────────┼───────────────┼──────────┤ ╭───────────╮  ╭──────────╮ ├───────────────┼───────────────┼──────────────────┼───────────────────┼───────────────────┼───────────────┤
    &kp LALT     &kp Z          &kp X           &kp C          &kp V             &kp N2        &none          &trans      &none           &none           &none              &none               &none              &kp F24  
//╰──────────────┴──────────────┼───────────────┼──────────────┼───────────────┼──────────┤ ├───────────┤  ├──────────┤ ├───────────────┼───────────────┼──────────────────┼───────────────────┼───────────────────┴───────────────╯
                                 &trans          &trans          &kp LCTRL       &kp SPACE    &tog GAME2      &to BASE      &trans          &trans          &trans             &trans
//                              ╰───────────────┴──────────────┴───────────────┴──────────╯ ╰───────────╯  ╰──────────╯ ╰───────────────┴───────────────┴──────────────────┴───────────────────╯
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        game_sub_layer {
            display-name = "PREPARE";
            bindings = <
//╭──────────────┬──────────────┬───────────────┬──────────────┬───────────────┬──────────╮                             ╭───────────────┬───────────────┬──────────────────┬───────────────────┬───────────────────┬───────────────╮
    &none          &none          &none           &none          &none           &none                                   &none           &none           &none              &none               &none               &none
//├──────────────┼──────────────┼───────────────┼──────────────┼───────────────┼──────────┤                             ├───────────────┼───────────────┼──────────────────┼───────────────────┼───────────────────┼───────────────┤
    &kp ESC        &kp Y          &trans          &kp U          &kp I           &kp O                                    &none           &none           &none              &none               &none               &none
//├──────────────┼──────────────┼───────────────┼──────────────┼───────────────┼──────────┤                             ├───────────────┼───────────────┼──────────────────┼───────────────────┼───────────────────┼───────────────┤
    &kp TAB        &trans         &trans          &trans          &kp H           &kp J                                   &none           &none           &none              &none               &none               &trans
//├──────────────┼──────────────┼───────────────┼──────────────┼───────────────┼──────────┤ ╭───────────╮  ╭──────────╮ ├───────────────┼───────────────┼──────────────────┼───────────────────┼───────────────────┼───────────────┤
    &trans         &kp N          &kp M           &kp COMMA      &kp DOT         &kp B         &none          &trans      &none           &none           &none              &none               &none               &trans  
//╰──────────────┴──────────────┼───────────────┼──────────────┼───────────────┼──────────┤ ├───────────┤  ├──────────┤ ├───────────────┼───────────────┼──────────────────┼───────────────────┼───────────────────┴───────────────╯
                                 &trans          &trans          &kp LCTRL       &kp SPACE    &trans         &to BASE      &trans          &trans          &trans             &trans
//                              ╰───────────────┴──────────────┴───────────────┴──────────╯ ╰───────────╯  ╰──────────╯ ╰───────────────┴───────────────┴──────────────────┴───────────────────╯
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
